# Supabase Settings (Acquired from Supabase Project Settings -> API)
NEXT_PUBLIC_SUPABASE_URL=https://wnpjcopndrvvxkmftlgd.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InducGpjb3BuZHJ2dnhrbWZ0bGdkIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODAzNzg1MTIsImV4cCI6MjA5NTk1NDUxMn0.e2NkyAUti6veehXGtxGxDMHT2NXlQSriXodwsmqLOoc

# Service Role Key (Used for custom scripts / bypass RLS if needed, do not expose on client)
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InducGpjb3BuZHJ2dnhrbWZ0bGdkIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MDM3ODUxMiwiZXhwIjoyMDk1OTU0NTEyfQ.B8XEtajlw3t-YQIwl_qFgUJlyI_8F2EtOyAR9I2uaHY
